venv
.vscode
__pycache__
.history
.hypothesis/
build/
reports/
data.txt
.env
contract_library/contract_addresses_ext.json
use_case_test.sol
logger.txt
scraps
debug_script.py
debug_script01.py
testing.sol
contract_library
.pytest_cache
.DS_Store
References